<%- model_class = Measurement -%>
<div class="page-header">
  <h1><%=t '.title', :default => "Activity Journal" %></h1>
</div>
  <ul>
    <% @measurements_by_user.each do |measurement| %>
        <li>
          <strong><%= @user.first_name %></strong> recorded the activity <strong><%= measurement.measure_name.name %></strong> <% if measurement.measure_unit.abbreviation != "bool" %> with a value of <strong><%= measurement.value %></strong> <%= measurement.measure_unit.abbreviation %><% else %><% end %> <em>on <%=l measurement.happened_at, format: "%A, %-m/%-d/%y, at %l:%M %P" %></em>

          <% if measurement.tag_list.any? %><span class="tab"><br /><em>Tags: <%= measurement.tag_list %></em></span><% else %><% end %>
          <% if measurement.notes != "" %><span class="tab"><br /><em>Notes: <%= measurement.notes %></em></span><% else %><% end %>
        </li>
    <% end %>
  </ul>

<%= link_to 'Record a New Activity',
            root_path,
            :class => 'btn btn-primary' %>